:root {
  --col-navy: #001f3f;
  --col-blue: #0074d9;
  --col-aqua: #7fdbff;
  --col-teal: #39cccc;
  --col-olive: #3d9970;
  --col-green: #2ecc40;
  --col-lime: #01ff70;
  --col-yellow: #ffdc00;
  --col-orange: #ff851b;
  --col-red: #ff4136;
  --col-fuchsia: #f012be;
  --col-purple: #b10dc9;
  --col-maroon: #85144b;
  --col-white: #ffffff;
  --col-gray: #aaaaaa;
  --col-silver: #dddddd;
  --col-black: #111111;
}
