.block {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.3rem;
}

.error {
  @extend .block;
  background-color: var(--col-red, red);
}

.success {
  @extend .block;
  background-color: var(--col-green, green);
}

.warning {
  @extend .block;
  background-color: var(--col-orange, orange);
}
